@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie|Waiting+for+the+Sunrise');

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");

body {
  box-sizing: border-box;
  font-family: 'Montserrat';
}

section p {
  font-family: Helvetica;
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-header img {
  width: 120px;
  margin-right: 5px;
  float:left;
}

.page-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #A2D800;
  box-shadow: 0px 5px 2px #efffcc;
}

#collapsemenu {
  position: relative;
}

ul.navbar-nav > li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: black;
    background-color: #A2D800;
    border-radius: 2px;
    backround-height: 53px;
    transition: background-color 1s;
}

.nav li {
  margin-top: 15px;
  margin-bottom: auto;
}

.navbar-toggle {
  position: absolute;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
  font-size: 1.5em;
  background-color: #A2D800;
}



.navbar-inverse .navbar-nav > li > a {
  color: #A2D800;
  font-family: arial;
  font-size: 1.4em;
  text-shadow: 1px black;
}

blockquote {
  font-family: 'Waiting for the sunrise';
  font-size: 1.6em;
  border: none; 
  min-height: 150px;
}

blockquote:hover {
  background-color: #efffcc;
  border-radius: 5px;
  font-size: 1.5em;
  font-weight: bold;
  transition: font-weight: 2s, background-color 3s;
}

blockquote .fa {
  color: #A2D800;
} 

figure img {
  width: 100%;
}

footer {
  width: 100%;
  bottom: 0px;
  right: 0px;
  border-top: 1px solid rgb(150,150,150);
  font-style: italic;
  background-color: rgba(162, 216, 0, 0.7);
}

#created-by {
  font-family: 'Waiting for the sunrise';
  font-size: 1.1em;
  font-weight: bolder;
}

#credits {
  font-size: 0.8em;
}

#references ul {
  list-style: none;
  padding-left: 0px;
}

#references a {
  text-decoration: none;
  color: #A2D800;
  font-size: 1.2em;
  text-shadow: 0.5px 0.5px black;
}

#references li:hover {
  background-color: #efffcc;
  border-radius: 10px;
}

#references li {
  padding-bottom: 5px;
  line-height: 60px;
  width: 450px;
  padding-left: 10px;
}

figcaption {
  font-style: italic;
  font-size: 0.9em;
  text-align: center;
}

figcaption a {
  color: #A2D800;
}

figure:hover img {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

section {
  padding-top: 60px;
}

section p {
  font-size: 1.2em;
}

.cube-logo {
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 50px;
  margin: 10px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}




